.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.advisorContainer {
  display: flex;
  padding: 16px 16px 0px 16px;
}

.container {
  padding: 8px;
}

.language {
  margin-left: 8px;
}

.fontFamily {
  font-family: sans-serif;
}

.name {
  font-size: 18px;
}

.description {
  font-size: 14px;
  margin-top: 4px;
}
