.mainContainer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  max-width: 1024px;
  margin: auto;
  background-color: rgb(247, 241, 241);
  height: 100vh;
}

.filterContainer {
  border-right: 1px solid #1976d2;
}

.container {
  padding: 16px;
}
